html {
    color-scheme: light;
}
body{
    margin: 0px;
    font-family: system-ui;
}
.top {
    display: flex;
    height: 20em;
    padding: 20px;
    text-align: center;
    background:rgb(84, 153, 218);
}
.top p{
    margin:auto;
    font-size: 3em;
    color: #ffffff;
    
}
main {
    display: flex;
    justify-content: center;
}
main .left {
    text-align: center;
    height: auto;
    margin: 30px 20px 10px 100px;
    width: 10em;
}
main .left .assemble{
    display: block;
    justify-content: center;
    text-align: center;
}
main .left img{
    border-radius: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    object-fit: cover;
    height: 10em;
    width: 10em;
}
main .left h5{
    margin:auto;
    font-size: 1.5em;
}
main .left p{
    margin: 5px;
    display: inline-block;
}
main .content {
    margin: 20px 5% 10% 5%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
main .content .card{
    width: 23em;
    border-radius: 20px;
    height: 10em;
    margin: 20px;
    background: rgb(255, 246, 246);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    display: flex;
    text-decoration:none;
}
main .content .card h3{
    color: #000;
    height: 2em;
    width: 15em;
    margin: 10px 5px 0 20px;
}
main .content .card p{
    color: rgb(0, 0, 0);
    height: 10em;
    width: 8em;
}
main .content .card img{
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    height: 10em;
    width: 10em;
}
main .content .button{
    display: flex;
    height: 10em;
    width: 10em;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-decoration:none;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
footer{
    height: 50px;
    background-color: #ffffff;
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    justify-content: center;
    text-align: center;
}
footer p{
    color: #000;
    margin:auto;
}
@media only screen and (max-width: 768px) {
    html{
        background-color: rgb(84, 153, 218);
    }
    .top{
        display: none;
    }
    main {
        display:block;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    main .left {
        display: flex;
        border-radius: 20px;
        background-color:#ffffff;
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        height: 10em;
        margin: 10px;
        width: 23em;

    }
    main .left img{
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        object-fit: cover;
        height: 10em;
        width: 10em;
    }
    main .left .assemble{   
        margin:auto;
        font-size: 1.5em;
    }
    main .left #hitokoto{
        display:none;
    }
}
